# Android specific
/build/
.gradle/
.idea/
*.iml
local.properties

# Others
*.lock
*.bin
*.probe
*.log
workspace.xml
fileHashes.*
executionHistory.*
resourceHashesCache.*

# Firebase
google-services.json

# macOS
.DS_Store

# Android Studio VCS ile ilgili
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Kotlin/Java compile output
/out/